*{
    padding: 0;
    margin: 0;

}
body{
    height: 100vh;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif ;
    background:linear-gradient(27deg , #3c6399 , #774eff 50%);
}
.form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    height: 390px;
    width: 400px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #16c8e0;
}
.form img {
    height: 120px;
    width: 120px;
    position: relative;
    left: 33%;
    margin-top: -67px;
    border-radius: 50%;
    border: 4px solid#558ddf;
}